---
import SEO from './seo.astro'
import Header from './header.astro'

import '@fontsource-variable/anuphan'
import '@fontsource/ibm-plex-serif'

import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=contain"
    />
    <link rel="icon" href="/favicon.png" />

    <slot name="seo">
      <SEO description="Hello" />
    </slot>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
