html {
  @apply bg-[#f2f2f2] text-primary;
}

.underline-3 {
  text-decoration-thickness: 3px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
