---
import ArrowTopRightIcon from '$icons/arrowTopRightIcon.astro'
---

<section class="bg-[#dcdcdc] px-32 py-24">
  <h2 class="text-xl font-medium">เว็บไซต์/บริการที่น่าสนใจ</h2>
  <div class="grid grid-cols-4 gap-4 pt-6 text-white">
    <div class="flex aspect-[4/5] flex-col justify-between bg-[#6929c4] p-6">
      <div class="flex justify-between">
        <div class="h-12 w-12 rounded-xl bg-white"></div>
        <ArrowTopRightIcon class="h-6 w-6" />
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl">Gov Tracker</h3>
        <p class="text-sm">
          เว็บไซต์สำหรับติดตามนโยบายของรัฐบาลที่นายกรัฐมนตรีประกาศผ่านสภาฯ
        </p>
      </div>
    </div>
    <div class="flex aspect-[4/5] flex-col justify-between bg-[#0043ce] p-6">
      <div class="flex justify-between">
        <div class="h-12 w-12 rounded-xl bg-white"></div>
        <ArrowTopRightIcon class="h-6 w-6" />
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl">Gov Wiki</h3>
        <p class="text-sm">
          เว็บไซต์สำหรับติดตามนโยบายของรัฐบาลที่นายกรัฐมนตรีประกาศผ่านสภาฯ
        </p>
      </div>
    </div>
    <div class="flex aspect-[4/5] flex-col justify-between bg-[#005d5d] p-6">
      <div class="flex justify-between">
        <div class="h-12 w-12 rounded-xl bg-white"></div>
        <ArrowTopRightIcon class="h-6 w-6" />
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl">Parliament Listening</h3>
        <p class="text-sm">
          เว็บไซต์สำหรับติดตามนโยบายของรัฐบาลที่นายกรัฐมนตรีประกาศผ่านสภาฯ
        </p>
      </div>
    </div>
    <div class="flex aspect-[4/5] flex-col justify-between bg-[#393939] p-6">
      <div class="flex justify-between">
        <div class="h-12 w-12 rounded-xl bg-white"></div>
        <ArrowTopRightIcon class="h-6 w-6" />
      </div>
      <div class="space-y-4">
        <h3 class="text-3xl">Hack.go.th</h3>
        <p class="text-sm">
          เว็บไซต์สำหรับติดตามนโยบายของรัฐบาลที่นายกรัฐมนตรีประกาศผ่านสภาฯ
        </p>
      </div>
    </div>
  </div>
</section>
