---
import { Image } from 'astro:assets'

import SEO from '$app/seo.astro'
import Blank from '$layout/blank.astro'
import ArrowRightIcon from '$icons/arrowRightIcon.astro'
import NewsArticle from '$front/newsArticle.astro'

import heroImage from '$assets/hero.jpg'

// imagine this async as fetching data from Wordpress
const foo = await new Promise(r => setTimeout(() => r('bar'), 500))
---

<Blank>
  <SEO slot="seo" title="Home" />
  <section
    class="relative grid min-h-[24rem] grid-cols-2 items-center overflow-hidden bg-[#030308] px-32 py-16 text-white"
  >
    <div class="z-10 col-span-1 space-y-4">
      <h1 class="font-serif text-4xl">
        Welcome to official website of the Prime Minister's Office of Thailand_
      </h1>
      <p>
        ผู้สมัครรับเลือกตั้งของเรา เป็นนักการเมืองเลือดใหม่
        ไม่ใช่นักการเมืองหน้าเก่าในขวดใหม่ และไม่ใช่ลูกของนักการเมืองรุ่นเก๋า —
        คนธรรมดาคนไหนก็เป็น ส.ส. แทนเราได้
      </p>
      <div class="pt-8">
        <button class="inline-flex items-center bg-[#0f62fe] px-5 py-2"
          >อ่านเพิ่มเติม<ArrowRightIcon class="ml-2 w-6 text-white" /></button
        >
      </div>
    </div>
    <div class="absolute bottom-0 right-32 top-0">
      <Image src={heroImage} alt="pita" class="h-full w-auto max-w-none" />
    </div>
  </section>
  <section class="px-32 py-24">
    <h2 class="text-xl font-medium">
      <span class="underline-3 underline decoration-warning underline-offset-2"
        >ไฮไลท์</span
      ><span>ความเคลื่อนไหวของนายกฯ</span>
    </h2>
    <div class="grid aspect-[2/1] grid-cols-8 gap-8 py-6">
      <div class="col-span-5 bg-green-50">
        <h3>
          ถอดรหัสเกมการเมืองสำหรับนายกฯคนต่อไป
          พรรคก้าวไกลพร้อมเข้าสู่อำนาจบริหาร?
        </h3>
      </div>
      <div class="relative col-span-3 h-full overflow-hidden bg-white p-6">
        <span
          class="border-2 border-[#e0e0e0] px-3 py-1 text-sm font-semibold text-secondary"
          >#ข่าวนายกฯ</span
        >
        <div class="divide-y divide-[#c6c6c6]">
          <NewsArticle
            title="ติดตามนโยบาย เปิดประตูสู่รัฐธรรมนูญฉบับใหม่ที่ร่างโดยประชาชน"
            date={new Date('2023-07-10')}
          />
          <NewsArticle
            title="การประชุมสุดยอด G7"
            date={new Date('2023-07-07')}
          />
          <NewsArticle
            title="นายกฯ ร่วมทดสอบการเดินรถเสมือน (Trial run) ตลอดสายอย่างเป็นทางการโครงการรถไฟฟ้ามหานครสายสีเหลือง"
            date={new Date('2023-07-02')}
          />
          <NewsArticle
            title="นายกฯ กล่าวแถลง ESCAP ย้ำไทยพร้อมยกระดับความร่วมมือในการแก้ปัญหาการเปลี่ยนแปลงสภาพภูมิอากาศ"
            date={new Date('2023-07-01')}
          />
          <NewsArticle
            title="นายกฯ กล่าวแถลง ESCAP ย้ำไทยพร้อมยกระดับความร่วมมือในการแก้ปัญหาการเปลี่ยนแปลงสภาพภูมิอากาศ"
            date={new Date('2023-07-01')}
          />
        </div>
        <div
          class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-b from-transparent to-white"
        >
        </div>
      </div>
    </div>
  </section>
  <h1 class="text-4xl font-bold">{foo}</h1>
</Blank>
