---
import SEO from '$app/components/seo.astro'
import Blank from '$app/components/blank.astro'

// imagine this async as fetching data from Wordpress
const foo = await new Promise(r => setTimeout(() => r('bar'), 500))
---

<Blank>
  <SEO title="Home" />
  <section
    class="relative flex min-h-[24rem] items-center bg-[#030308] px-32 py-16 text-white"
  >
    <div class="w-full max-w-md space-y-4">
      <h1 class="font-serif text-4xl">
        Welcome to official website of the Prime Minister's Office of Thailand_
      </h1>
      <p>
        ผู้สมัครรับเลือกตั้งของเรา เป็นนักการเมืองเลือดใหม่
        ไม่ใช่นักการเมืองหน้าเก่าในขวดใหม่ และไม่ใช่ลูกของนักการเมืองรุ่นเก๋า —
        คนธรรมดาคนไหนก็เป็น ส.ส. แทนเราได้
      </p>
      <button class="bg-[#0f62fe] px-5 py-2">อ่านเพิ่มเติม</button>
    </div>
  </section>
  <h1 class="text-4xl font-bold">{foo}</h1>
</Blank>
