---
import SEO from '$app/components/seo.astro'
import Blank from '$app/components/blank.astro'

// imagine this async as fetching data from Wordpress
const foo = await new Promise(r => setTimeout(() => r('bar'), 500))
---

<Blank>
  <SEO title="Home" />
  <h1 class="text-4xl font-bold">{foo}</h1>
</Blank>
